<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    
    

    <!-- Define your beans here -->
    
    <!-- dependency definition -->
    
    <bean id="staticFortuneService" class="com.springdemo.two.HappyFortuneService"></bean>
    <bean id="randomFortuneService" class="com.springdemo.two.RandomFortuneService"></bean>
    
    <bean id="trackCoach" class="com.springdemo.coach.TrackCoach"></bean>
    <bean id="baseballCoachNoArg" class="com.springdemo.coach.BaseballCoach"></bean>
    <bean id="golfCoach" class="com.springdemo.coach.GolfCoach"></bean>
    
    <!-- loading file -->
    
    <context:property-placeholder location="classpath:cricket.properties"/>
    
    
    
    
    <bean id="baseballCoach" class="com.springdemo.coach.BaseballCoach">
    <!-- Setting up constructor injection -->
    	<constructor-arg ref="staticFortuneService"/>
    </bean>
    
    
    
    
    
    
    <bean id="cricketCoach" class="com.springdemo.coach.CricketCoach">
    <!-- setting up setter injection -->
    	<property name="fortuneService" ref="randomFortuneService"></property>
    	
    	<!-- providing values to the data members -->
    	
    	<property name="email" value="${cricket.email}" />
    	<property name="teamName" value="${cricket.teamName}" />
    	<!-- <property name="teamName" value="${app}" /> -->
    </bean>
    
    
    
    
    
    
</beans>





