<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">    

    <!-- Define your beans here -->
    
    <!-- dependency definition -->
    
    <bean id="staticFortuneService" class="com.springdemo.two.HappyFortuneService"></bean>
    
    <bean id="baseballCoach" class="com.springdemo.coach.BaseballCoach"
    scope="singleton"
    init-method="myInit" 
    destroy-method="myDestroy"   
    >
    <!-- for prototype scoped beans , destroy-method didn't get call -->
    <!-- Setting up constructor injection -->
    	<constructor-arg ref="staticFortuneService"/>
    </bean>  
    
</beans>





